<h2 class="about-header">About Me</h2>
<p>Hi, I'm Charlie, a Computer Science Graduate and Software Developer! This website is to provide links to my personal projects, and also host them!</p>

<h3>My Website</h3>
<div class="project">
    <github-include commits="5" workflows="5" tests="20" data-links="true">
    <a href="https://github.com/CharlieM312/website">
        Website
    </a>
    </github-include>
</div>

<div class="other-projects">
    <h3>Other Projects</h3>
    <a class="project-card" href="https://github.com/CharlieM312/hawk-react-ui">
        <span>Hawk React UI</span>
        <small>A modern React UI for the Eclipse Hawk project</small>
    </a>
</div>

<div class="flight-profile">
    <a href="https://my.flightradar24.com/CharlieM312"><img src="https://banners-my.flightradar24.com/CharlieM312.png" alt="My Flightradar profile" width="500px" /></a>
</div>
