

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #249f53;
    color: blue;
    padding: 20px;
    size: 20px;
}

.menu-container {
    position: fixed;
    align-items: center;
    background-color: #333;
    height: 60px;
    margin-right: -10px;
    margin-left: -10px;
    padding: 0;
}

h4 {
    text-align: right;
}