

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #249f53;
    color: blue;
    padding: 10px;
    size: 20px;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #333;
}