

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #249f53;
    color: blue;
    padding: 20px;
    size: 20px;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 250px;
    align-items: center;
    background-color: #333;
    width: calc(100vw - 250px);
    height: 60px;
    padding: 0;
    z-index: 100;

    @media (max-width: 600px) {
        left: 120px;
        width: calc(100vw - 120px);


    }
}

h4 {
    text-align: right;
}