name: Auto approve

on: 
    pull_request:

permissions:
  pull-requests: write
  contents: write
jobs:
  auto-approve:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Auto Approve
        uses: hmarr/auto-approve-action@v4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
  merge:
    runs-on: ubuntu-latest
    needs: auto-approve
    permissions:
      pull-requests: write
      contents: write
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Add automerge label
        uses: actions-ecosystem/action-add-labels@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          labels: automerge
      - name: Set environment variables
        run: |
          echo "GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}" >> $GITHUB_ENV
          echo "MERGE_METHOD=squash" >> $GITHUB_ENV
          echo "MERGE_RETRY_SLEEP=10000" >> $GITHUB_ENV
      - name: Auto Merge
        uses: pascalgn/automerge-action@v0.16.4