<div class="contributions">
  <h3>Contributions</h3>

  <p class="contribution-summary">
    I've contributed to this project by helping update it to use Angular 22 as well as fixing bugs.
  </p>

  <github-include
    contributor="CharlieM312"
    contributor-label="My commits: "
    data-links="true">
    <a href="https://github.com/thymikee/jest-preset-angular">
      Jest Preset Angular
    </a>
  </github-include>

  <p class="contribution-summary">
    I've contributed to this project by helping update it to run using node24.
  </p>

  <github-include
    contributor="CharlieM312"
    contributor-label="My commits: "
    data-links="true">
    <a href="https://github.com/test-summary/action">
      Test Summary Action
    </a>
  </github-include>
</div>